<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 멤버테이블과 관련된 sql문을 담아둠 -->
<mapper namespace="member">
	<insert id= "insert" parameterType="memberVO"><!-- insert 관련된 sql문 -->
		insert into "MEMBER" values (#{id}, #{pw}, #{name}, #{tel})
	</insert>
	<delete id="delete" parameterType="memberVO">
		delete from "MEMBER" where id = #{id}
	</delete>
	<update id="update" parameterType="memberVO">
		update "MEMBER" set tel = #{tel} where id = #{id}
	</update>
</mapper>
